<h1> Concerts </h2>
  <br>
  <br>

<h2> Add a band: </h2>

<form action="/bands" method="post">

  <label for="name">Band name:</label>
  <input id="name" name="name" type="text">
    <button type="submit">Add Band</button>
</form>

<% if @bands.any?() %>
  <h3>Bands:</h3>

  <ul>
    <% @bands.each() do |band| %>
      <li><a href="/bands/<%= band.id() %>"><%= band.name() %></a></li>
    <% end %>
  </ul>

  <% end %>

  <br>
  <br>
  <h3> Add a venue:</h3>
  <form action="/venues" method="post">

    <label for="venue_name">Venue name:</label>
    <input id="venue_name" name="venue_name" type="text">
      <button type="submit">Add Venue</button>
  </form>

  <% if @venues.any?() %>
    <h3>Venues:</h3>

    <ul>
      <% @venues.each() do |venue| %>
        <li><%= venue.name() %></li>
      <% end %>
    </ul>

    <% end %>
