<!DOCTYPE html>
<html>
  <head>
    <title>Concerts</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
  </head>
  <body>
<div class="container">
      <%= yield %>
</div>

  </body>
</html>
